/* Code tidied up by ScrapBook */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ul, ol, li, input { border: 0px none; font: inherit; vertical-align: baseline; margin: 0px; padding: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
h3, h4, h5, h6 { font-weight: normal; }
ol, ul { list-style: outside none none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
html { height: 100%; }
body { font: 12px/15px "Microsoft YaHei","Simsun",Arial,Helvetica,sans-serif; background-color: rgb(250, 250, 250); color: rgb(102, 102, 102); height: 100%; }
em, i { font-style: normal; }
a { text-decoration: none; outline: medium none; color: rgb(102, 102, 102); }
a:active {  }
a:focus { outline: 0px none; }
p { font-size: 14px; }
img { border: medium none; }
.wrap { width: 1200px; margin: 0px auto; clear: both; }
.top { background: rgb(87, 98, 110) none repeat scroll 0% 0%; color: rgb(208, 218, 229); min-width: 1200px; height: 36px; vertical-align: baseline; }
.top a i { margin: 9px 5px 0px 0px; width: 11px; height: 18px; float: left; background: rgba(0, 0, 0, 0) url("../images/global-icons.png") no-repeat scroll -57px -39px; }
.top a { color: rgb(208, 218, 229); margin-left: 16px; line-height: 36px; display: inline-block; }
.top a:hover { text-decoration: underline; }
.footer { clear: both; min-width: 1200px; margin-top: 30px; height: 385px; background-color: rgb(87, 98, 110); color: rgb(172, 175, 179); }
.footer .links { margin: 25px 0px 0px; width: 550px; float: left; }
.footer .links ul { float: left; margin-right: 55px; }
.footer .links ul li { color: rgb(255, 255, 255); font-size: 14px; display: block; margin-bottom: 12px; }
.footer .links ul li a { color: rgb(172, 175, 179); }
.footer .links ul li a:hover { text-decoration: underline; }
.footer .links .edaiQR { float: right; text-align: center; font-size: 16px; color: rgb(255, 255, 255); }
.footer .links .edaiQR img { margin-top: 10px; }
.footer .copyright { float: right; width: 440px; padding: 20px 0px 0px; }
.footer .copyright .contact { border-bottom: 1px solid rgb(106, 118, 132); overflow: hidden; padding: 0px 0px 15px; }
.footer .copyright .tel400 { width: 275px; height: 54px; float: left; }
.footer .copyright .tel400 .icon400 { background: rgba(0, 0, 0, 0) url("../images/global-icons.png") no-repeat scroll 0px 0px; width: 55px; float: left; height: 54px; margin-right: 8px; }
.footer .copyright .tel400 .num { font-size: 26px; font-weight: bold; margin-top: 15px; display: inline-block; line-height: 20px; }
.footer .copyright .text { padding: 15px 0px 0px; line-height: 175%; clear: both; }
.footer .copyright .text .add-more { text-indent: 3em; display: inline-block; }
.footer .copyright .gray { color: rgb(143, 147, 151); }
.footer .permit { clear: both; text-align: center; width: 750px; margin: 30px auto 0px; }
.footer .permit .item { width: 128px; height: 56px; display: inline-block; margin: 0px 7px 5px; background: rgba(0, 0, 0, 0) url("../images/sns-sprite.png") repeat scroll 0% 0%; text-indent: -999em; }
.footer .permit .item { float: left; }
.footer .permit .item-1 { background-position: 0px 0px; }
.footer .permit .item-2 { background-position: -130px 0px; }
.footer .permit .item-3 { background-position: -260px 0px; }
.footer .permit .item-4 { background-position: -390px 0px; }
.footer .permit .item-5 { background-position: -520px 0px; }
.footer .permit .item-1:hover { background-position: 0px -59px; }
.footer .permit .item-2:hover { background-position: -130px -59px; }
.footer .permit .item-3:hover { background-position: -260px -59px; }
.footer .permit .item-4:hover { background-position: -390px -59px; }
.footer .permit .item-5:hover { background-position: -520px -59px; }
.share { display: none; }
.share ul { position: fixed; z-index: 10; top: 52%; right: 0px; width: 36px; height: auto; background-color: rgb(51, 51, 51); padding: 20px 0px; }
.share ul li { width: 36px; height: 40px; display: block; background-color: rgb(51, 51, 51); padding: 2px 0px; }
.share ul li:hover { background-color: rgb(254, 108, 0); }
.share .icon-service, .share .icon-favorite, .share .icon-feedback, .share .icon-share, .share .icon-b2t { width: 24px; height: 40px; display: block; background: rgba(0, 0, 0, 0) url("../images/share.png") no-repeat scroll 0% 0%; margin: 7px 0px 0px 5px; }
.share .icon-service { background-position: -66px 0px; }
.share .icon-favorite { background-position: -66px -41px; }
.share .icon-feedback { background-position: -66px -82px; }
.share .icon-share { background-position: -66px -123px; }
.share .icon-b2t { background-position: -66px -164px; }
.service { width: 248px; height: 199px; background: rgba(0, 0, 0, 0) url("../images/share.png") no-repeat scroll -92px 0px; display: none; position: absolute; top: 30px; right: 34px; }
.share-qq, .share-msg { text-align: center; margin-top: 25px; }
.share-qq { margin-left: 30px; float: left; }
.share-msg { margin-right: 42px; float: right; }
.share-qq span, .share-msg span { display: block; font-size: 14px; margin-top: 6px; }
.share-qq a { width: 66px; height: 66px; background-color: rgb(81, 148, 207); display: block; }
.share-qq a:hover { background-color: rgb(255, 107, 0); }
.share-msg a { width: 66px; height: 66px; background-color: rgb(127, 175, 42); display: block; }
.share-msg a:hover { background-color: rgb(255, 107, 0); }
.icon-qq, .icon-msg { width: 66px; height: 66px; display: block; background: rgba(0, 0, 0, 0) url("../images/share.png") no-repeat scroll 0% 0%; }
.icon-qq {  }
.icon-msg { background-position: 0px -66px; }
.service p { color: rgb(255, 107, 0); font-size: 16px; margin: 20px 0px 0px 30px; }
.service p span { font-size: 24px; line-height: 32px; }
.freecall { background: rgba(0, 0, 0, 0) url("../images/freecallbg.png") repeat scroll 0% 0%; height: 90px; width: 100%; position: fixed; bottom: 0px; left: 0px; color: rgb(255, 255, 255); font-size: 24px; line-height: 90px; z-index: 9; display: none; }
.freecall .wrap { width: 960px; }
.freecall span { color: rgb(255, 139, 0); margin: 0px 12px; }
.freecall b { color: rgb(255, 139, 0); font-size: 36px; position: relative; top: 5px; }
.freecall input { font-size: 18px; height: 50px; line-height: 50px; margin-top: 20px; }
.freecall .tel24-num { width: 280px; }
.freecall .tel24 { width: 41px; height: 46px; display: inline-block; position: relative; top: 13px; left: 0px; margin-right: 15px; background: rgba(0, 0, 0, 0) url("../images/share.png") no-repeat scroll 0px -136px; }
.btn-freecall { width: 140px; background-color: rgb(0, 153, 68); color: rgb(255, 255, 255); margin-left: 12px; }
.clearfix::after { content: " "; display: block; clear: both; height: 0px; font-size: 0px; visibility: hidden; }
.clearfix {  }
.fl { float: left; margin-left: 5px;}
.fr { float: right; }
.mr0 { margin-right: 0px !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mt0 { margin-top: 0px !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb50 { margin-bottom: 50px !important; }
.bt0 { border-top: 0px none !important; }
.bb0 { border-bottom: 0px none !important; }
.hide { display: none !important; }
.show { display: block !important; }
input { font-family: "Microsoft YaHei"; }
input[type="text"] { text-indent: 12px; }
input[type="button"] { cursor: pointer; }
input[type="submit"] { line-height: 100%; cursor: pointer; }
input[type="radio"] { margin: 0px; padding: 0px;  }
label { padding-left: 20px; cursor: pointer; width: 12px; height: 20px; background: rgba(0, 0, 0, 0) url("../images/global-icons-labelbox.png") no-repeat scroll 0px -1px; }
label.checked { width: 12px; height: 19px; background-position: 0px -25px; }
.popup { position: absolute; background: rgb(117, 117, 117) none repeat scroll 0% 0%; padding: 6px; margin: 0px auto; z-index: 99999; }
.popup-main { border: 1px solid rgb(105, 105, 105); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.popup-title { background: rgba(0, 0, 0, 0) url("playerbg.gif") repeat-x scroll 0% 0%; height: 37px; line-height: 37px; padding: 0px 5px; overflow: hidden; cursor: move; }
.popup-title span { display: inline-block; height: 33px; line-height: 33px; float: left; color: rgb(51, 51, 51); padding-left: 10px; font-size: 16px; }
.popup-title a { display: block; background: rgba(0, 0, 0, 0) url("user.png") no-repeat scroll right -386px; width: 34px; height: 34px; float: right; }
.popup-title a:hover { background: rgba(0, 0, 0, 0) url("user.png") no-repeat scroll right -427px; }
.popup-cotent { padding: 1px; }
.wxts { width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.6; left: 0px; top: 0px; position: fixed; z-index: 998; }
.wxts_neir { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 20px; }
.wxts_tt { background: rgba(0, 0, 0, 0) url("line_01.jpg") repeat-x scroll 0% 0%; height: 37px; line-height: 37px; padding: 0px 5px; overflow: hidden; cursor: move; }
.wxts_tt span { display: inline-block; height: 33px; line-height: 33px; float: left; color: rgb(102, 102, 102); padding-left: 10px; font-size: 16px; font-weight: 600; }
.wxts_tt a { display: block; background: rgba(0, 0, 0, 0) url("tanchuchuangimg.png") no-repeat scroll 0px 0px; width: 34px; height: 34px; float: right; }
.wxts_tt a:hover { background-position: 0px 0px; }
.wxts_neir dl { width: 500px; margin: 20px auto 0px; color: rgb(85, 85, 85); font-family: "微软雅黑",Microsoft YaHei; }
.wxts_neir dl dt { font-size: 16px; text-align: center; }
.wxts_neir dl dt.t1 { height: 50px; line-height: 50px; background: rgba(0, 0, 0, 0) url("pos-ico.jpg") no-repeat scroll 40px 0px; }
.wxts_neir dl dt.t2 { height: 40px; line-height: 40px; background: rgba(0, 0, 0, 0) url("pos-tel.jpg") no-repeat scroll 120px 3px; }
.wxts_neir dl dt.t3 { height: 30px; line-height: 30px; color: rgb(255, 102, 0); font-size: 12px; text-align: left; text-indent: 50px; }
.wxts_neir dl dt.t4 { line-height: 40px; background: rgba(0, 0, 0, 0) url("pos-yes.jpg") no-repeat scroll 0px 0px; text-indent: 60px; text-align: left; margin: 0px auto; width: 420px; }
.red { color: rgb(255, 0, 0); font-size: 16px; }
.blue { color: rgb(0, 102, 204); }
.wxts_neir dl dd { height: 40px; line-height: 24px; text-align: center; }
.wxts_neir dl dd.dd1 { height: 30px; }
.wxts_neir dl dd.dd2 { line-height: 19px; padding-top: 15px; }
.wxts_neir dl dd .bnnt span { float: left; margin-left: 60px; width: 112px; height: 36px; text-align: center; line-height: 36px; font-size: 12px; }
.wxts_neir dl dd.l20 { margin-left: 45px; }
.wxts_neir dl dd .bnnt span.bnt1 { background: rgba(0, 0, 0, 0) url("bnt001.jpg") no-repeat scroll 0px 0px; }
.wxts_neir dl dd .bnnt span.bnt2 { background: rgba(0, 0, 0, 0) url("bnt002.jpg") no-repeat scroll 0px 0px; }
.wxts_neir dl dd.t10 { margin-top: 10px; }
.wxts_neir dl dd.t20 { margin-top: 20px; padding-bottom: 20px; }
.wxts_neir dl dd .bnnt span a { color: rgb(255, 255, 255); width: 112px; height: 36px; display: block; }
.wxts_neir dl dd .bnnt span a:hover { color: rgb(255, 255, 0); text-decoration: none; }
.wxts_neir dl dd .bd01 { float: left; margin: 0px 10px 0px 45px; width: 100px; text-align: right; }
.wxts_neir dl dd .inc { float: left; width: 182px; margin-right: 15px; }
.wxts_neir dl dd .inc input { border: 1px solid rgb(221, 221, 221); padding: 3px; width: 180px; color: rgb(102, 102, 102); margin-top: 5px; font-size: 14px; height: 20px; }
.wxts_neir dl dd .ybnt { width: 83px; height: 27px; background: rgba(0, 0, 0, 0) url("bnt003.jpg") no-repeat scroll 0px 0px; float: left; line-height: 27px; margin-top: 4px; }
.wxts_neir dl dd .tjbnt { width: 64px; height: 27px; background: rgba(0, 0, 0, 0) url("bnt004.jpg") no-repeat scroll 0px 0px; line-height: 27px; color: rgb(255, 255, 255); margin-top: 10px; }
.wxts_neir dl dd .ybnt a { width: 83px; height: 27px; display: block; color: rgb(255, 255, 255); }
.wxts_neir dl dd .ybnt a:hover { color: rgb(255, 255, 204); text-decoration: none; }
.wxts_neir a { color: rgb(0, 102, 204); }
.wxts_neir a:hover { color: rgb(255, 102, 0); }
.wxts_neir .tbs { width: 500px; margin: 5px auto 0px; color: rgb(85, 85, 85); }
.wxts_neir .tbs-t { height: 30px; line-height: 30px; }
.wxts_neir .tbs-t .l { float: left; }
.wxts_neir .tbs-t .r { float: right; }
.wxts_neir .tbs-c { margin: 10px 0px 0px 10px; }
.wxts_neir .tbs-c ul { width: 138px; float: left; margin-right: 38px; }
.wxts_neir .tbs-c ul.nor { margin-right: 0px; }
.wxts_neir .tbs-c ul li { width: 138px; clear: both; margin-bottom: 5px; text-align: center; }
.wxts_neir .tbs-c ul li.li01 { background: rgba(0, 0, 0, 0) url("logo_yy.jpg") no-repeat scroll center bottom; float: left; height: 105px; width: 97px; margin-left: 18px; }
.wxts_neir .tbs-c ul li.li01 img { border: 1px solid rgb(202, 202, 202); height: 95px; width: 95px; }
.wxts_neir .tbs-c ul li.mbnt { width: 72px; height: 25px; margin-left: 30px; line-height: 25px; text-indent: 16px; margin-top: 10px; background: rgba(0, 0, 0, 0) url("sprite.png") no-repeat scroll 0px -463px; }
.wxts_neir .tbs-c ul li.mbnt a { width: 72px; height: 25px; display: block; color: rgb(255, 255, 255); }
.wxts_neir .tbs-c ul li.mbnt a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.wxts_neir dl dd.dd3 { line-height: 19px; padding: 15px 0px; text-align: left; }
.zheng_ico1 { background: rgba(0, 0, 0, 0) url("sprite.png") no-repeat scroll 0px -71px; display: inline-block; height: 16px; margin-right: 3px; width: 15px; }
.zheng_ico2 { background: rgba(0, 0, 0, 0) url("sprite.png") no-repeat scroll 0px -105px; display: inline-block; height: 16px; margin-right: 3px; width: 15px; }
.tanc_tiship { color: rgb(254, 137, 0); text-align: center; padding: 18px 0px; }
.tanc_bgresiz { width: 410px; height: 252px; }
.tanc_allresize { width: 388px; }
.tanc_neirsize { height: 196px; }
.tanc_iptneir { padding-left: 36px; height: 36px; }
.tanc_iptneir * { display: inline-block; vertical-align: middle; }
.tanc_ipttext { border: 1px solid rgb(202, 202, 202); width: 120px; height: 20px; line-height: 20px; }
.tanc_iperror { text-align: center; color: red; }
.tanc_button { background: rgba(0, 0, 0, 0) url("tanchuchuangimg.png") no-repeat scroll 0px -108px; height: 25px; width: 98px; color: rgb(255, 255, 255); margin-left: 8px; margin-top: -2px; cursor: pointer; }
.tanc_tijiao { text-align: center; padding-top: 16px; }
.tanc_tijiao input { width: 83px; height: 28px; cursor: pointer; background: rgba(0, 0, 0, 0) url("tanchuchuangimg.png") no-repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 14px; }
.tanc_perror { text-align: center; color: red; }
input.tanc_submit { background-position: -54px 0px; }
input.tanc_reset { background-position: -54px -60px; }
.tanc_dderrors { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 30px 10px; }
.tanc_dderror { font-size: 14px; text-align: center; height: 42px; padding-right: 20px; }
.tanc_dderrorsp, .tanc_ddjingao { display: inline-block; margin-right: 6px; width: 41px; height: 41px; background: rgba(0, 0, 0, 0) url("error_x.jpg") no-repeat scroll 0% 0%; vertical-align: middle; padding-right: 10px; }
.tanc_ddjig { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 10px 30px; }
.tanc_ddjig p.tanc_ddjiga { color: rgb(255, 72, 4); font-size: 15px; padding-left: 36px; }
.tanc_ddjingao { background: rgba(0, 0, 0, 0) url("error_i.jpg") no-repeat scroll 0% 0%; width: 42px; height: 42px; }
.tanc_ddjingaos { display: inline-block; width: 260px; }
.tanc_ddjingaop { color: rgb(65, 65, 65); margin: 4px 0px 0px 96px; }
.tanc_ddjingaop span { color: rgb(255, 72, 4); font-size: 15px; }
.tanc_btclosep { text-align: center; }
.tanc_btclosehei { padding-top: 100px; }
.tanc_btclose { width: 67px; height: 22px; background: rgba(0, 0, 0, 0) url("bu_close.png") no-repeat scroll 0% 0%; line-height: 22px; text-align: center; margin: 26px auto 0px; cursor: pointer; }
.a_green a { color: rgb(127, 255, 42) !important; }
.a_red a { color: red !important; }
/*.top-tel { margin-left: 5px; }*/
.top-tel span { margin-left: 12px; color: #639e3f; font-size: 28px; font-weight: bold; }
