/* Code tidied up by ScrapBook */
.wrap { width: 1200px; margin: 0px auto; clear: both; }
.wrap300 { width: 300px; }
.wrap880 { width: 880px; margin-right: 19px; }
.header { width: 100%; height: 95px; background-color: rgb(255, 255, 255); }
.header .logo { width: 175px; height: 65px; background: rgba(0, 0, 0, 0) url("../images/line.jpg") no-repeat scroll right 0px; margin: 15px 10px 0px 0px; }
.header .logo a { display: block; width: 165px; height: 65px; background: rgba(0, 0, 0, 0) url("logo.png") no-repeat scroll 0px 7px; text-indent: -9999em; }
.header .area { height: 95px; position: relative; z-index: 11; line-height: 95px; }
.header .area em { font-size: 24px; color: rgb(51, 51, 51); }
.header .area .fl a { color: rgb(136, 136, 136); margin: 0px 12px; }
.header .area a:hover { color: rgb(86, 124, 14); }
.header .area img { position: relative; top: 4px; }
.header .nav { height: 95px; line-height: 95px; }
.header .nav a { font-size: 18px; color: rgb(51, 51, 51); margin-right: 10px; }
.header .nav a:nth-child(7){margin-right: 0;}
.header .nav a:hover{color:#639e3f}
.header .nav .nav-on {color: #639e3f;}
.city { width: 525px; border: 1px solid rgb(204, 204, 204); position: absolute; left: 0px; top: 65px; z-index: 15; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(85, 85, 85); display: none; }
.city a { color: rgb(102, 102, 102); }
.xb{border-bottom: none !important;background: #fff !important;}
.city a:hover { text-decoration: underline; }
.city-tit { width: 525px; border-bottom: 1px solid rgb(221, 221, 221); height: 45px; line-height: 45px; text-indent: 20px; }
.city-tit span { font-size: 14px; font-weight: bold; color: rgb(255, 102, 0); }
.city-tit a { width: 50px; height: 28px; background: rgba(0, 0, 0, 0) url("../images/city-close.jpg") no-repeat scroll 0px 0px; position: absolute; top: -1px; right: 8px; }
.city-con { width: 490px; margin: 0px auto; }
.city-con dl { width: 490px; float: left; border-bottom: 1px dashed rgb(221, 221, 221); padding: 10px 0px; }
.city-con dt { width: 80px; float: left; color: rgb(135, 191, 0); font-weight: bold; line-height: 25px; }
.city-con dd { width: 410px; float: left; }
.city-con dd ul li { margin-right: 30px; float: left; white-space: nowrap; line-height: 25px; }
.city-more { width: 525px; height: 45px; line-height: 45px; text-align: center; background: rgb(245, 245, 245) none repeat scroll 0% 0%; float: left; border-top: 1px solid rgb(221, 221, 221); }
.city-more a { color: rgb(0, 102, 204); }
.city-more a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.loan-banner { height: 360px; width: 100%; margin-bottom: 30px; background: rgba(0, 0, 0, 0) url("../images/loan-banner-bg.jpg") no-repeat scroll center center; }
.loan-window { width: 480px; height: 350px; float: right; margin-top: 5px; }
.loan-nav { width: 150px; float: right; }
.loan-nav .active { width: 150px; }
.loan-nav ul li { width: 140px; height: 170px; float: right; margin-bottom: 10px; background: rgba(0, 0, 0, 0) url("../images/loan-window-bg.png") repeat scroll 0% 0%; }
.loan-nav ul li a { display: block; color: rgb(255, 255, 255); font-size: 18px; position: relative; top: 70px; left: 40px; }
.loan-con { width: 330px; height: 350px; float: left; background: rgba(0, 0, 0, 0) url("../images/loan-window-bg.png") repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.loan-con01 { display: none; }
.loan-con01-top { width: 270px; margin: 40px 0px 35px 30px; border-bottom: 1px solid rgb(255, 255, 255); padding-bottom: 10px; }
.loan-con01-top ul li { float: left; margin-right: 25px; text-align: center; font-size: 14px; }
.loan-con01-top ul li img { display: block; margin: 0px auto 10px; width: auto; height: 65px; }
.loan-con01-top .con01 { width: 62px; }
.loan-con01-top .con02 { width: 60px; }
.loan-con01-top .con03 { width: 98px; margin-right: 0px; }
.loan-con01 { display: none; }
.loan-con01 p { font-size: 20px; text-align: center; line-height: 28px; }
.loan-con01 p span, .loan-con02 .loan-apply-info span { color: rgb(255, 186, 0); }
.loan-con01 a { width: 270px; margin: 30px 0px 0px 30px; height: 40px; line-height: 40px; font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(0, 153, 68); display: block; text-align: center; border-radius: 2px; }
.loan-con02-submit:hover, .loan-con01 a:hover { background-color: rgb(0, 153, 68); }
.loan-con02 form { margin: 18px 0px 0px 25px; font-size: 14px; }
.loan-con02 input[type="text"] { width: 180px; height: 30px; margin-right: 6px; font-size: 14px; line-height: 30px; border: 1px solid rgb(204, 204, 204); }
.loan-con02-sum, .loan-con02-sex, .loan-con02-area, .loan-con02-tel, .loan-captcha { margin-bottom: 10px; position: relative; }
.loan-con02-area { z-index: 2; }
.loan-con02-area input[type="text"] { color: rgb(153, 153, 153); cursor: pointer; }
.dropdown-arrow { background: rgba(0, 0, 0, 0) url("../images/dropdown-arrow.png") no-repeat scroll 0% 0% / 10px 8px; display: inline-block; width: 10px; height: 8px; position: absolute; top: 50%; margin-top: -4px; left: 160px; cursor: pointer; }
.loan-con02-area ul { display: none; position: absolute; top: 32px; width: 180px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
.loan-con02-area ul li a { display: block; height: 30px; line-height: 30px; text-indent: 12px; }
.loan-con02-area ul li a:hover { background-color: rgb(204, 204, 204); color: rgb(255, 255, 255); }
.loan-con02-sex span { margin: 0px 3px; }
.loan-con02-sex i { margin-left: 3px; }
.loan-con02-submit { display: block; margin: 4px 0px 10px; height: 40px; width: 180px; font-size: 18px; border-radius: 2px; line-height: 40px; background-color: rgb(0, 153, 68); color: rgb(255, 255, 255); }
.loan-con02 .loan-apply-info { margin-left: 25px; font-size: 14px; }
.loan-captcha .authimg { width: 85px; height: 32px; cursor: pointer; }
.loan-captcha-txt { width: 90px; margin-right: 5px; position: relative; }
.loan-captcha-txt input[type="text"] { width: 90px; border: 1px solid rgb(204, 204, 204); }
.loan-captcha input[type="button"] { width: 85px; height: 32px; color: rgb(255, 255, 255); background-color: rgb(133, 154, 180); cursor: pointer; }
.loan-tips-error { font-size: 12px; color: rgb(255, 155, 155); margin-left: 0px; position: absolute; width: 290px; }
.tip-text { height: 24px; line-height: 24px; position: absolute; background-color: rgb(255, 255, 226); border: 1px solid rgb(255, 214, 115); color: rgb(68, 68, 68); padding: 0px 10px; white-space: nowrap; display: none; z-index: 10; top: -35px; }
.tip-text i { position: absolute; top: 24px; left: 40%; width: 14px; height: 8px; background: rgba(0, 0, 0, 0) url("tip-text-arrow.png") no-repeat scroll 0% 0%; }
.input-error { background-color: rgb(254, 244, 235) !important; border: 1px solid rgb(255, 142, 51) !important; }
.loan-title { position: relative; margin-bottom: 25px; }
.loan-title hr { width: 880px; border: 0px none; background-color: rgb(204, 204, 204); height: 1px; display: block; position: absolute; top: 20px; left: 0px; }
.loan-title h3 { width: 176px; height: 50px; background: rgba(0, 0, 0, 0) url("../images/loan-title-bg.png") no-repeat scroll 0% 0%; font-size: 24px; text-align: center; line-height: 46px; margin: 0px auto 20px; position: relative; z-index: 2; }
.loan-left .content { margin-left: 1px; }
.loan-left .box { width: 210px; height: auto; float: left; margin-right: 10px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); padding-bottom: 30px; }
.loan-left .box:hover { border-color: rgb(0, 153, 68); }
.box-tit-01 { background-color: rgb(11, 147, 197); }
.box-tit-02 { background-color: rgb(110, 172, 0); }
.box-tit-03 { background-color: rgb(9, 173, 198); }
.box-tit-04 { background-color: rgb(47, 135, 216); }
.box-tit-01 a h5, .box-tit-02 a h5, .box-tit-03 a h5, .box-tit-04 a h5 { color: rgb(255, 255, 255); }
.box-tit-13, .box-tit-14, .box-tit-15, .box-tit-16 { background-color: rgb(133, 155, 179); }
.box-tit-01, .box-tit-02, .box-tit-03, .box-tit-04, .box-tit-13, .box-tit-14, .box-tit-15, .box-tit-16 { margin-bottom: 30px; color: rgb(255, 255, 255); }
.box-tit-05, .box-tit-06, .box-tit-07, .box-tit-08, .box-tit-09, .box-tit-10, .box-tit-11, .box-tit-12 { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }
.box-tit-01, .box-tit-02, .box-tit-03, .box-tit-04, .box-tit-05, .box-tit-06, .box-tit-07, .box-tit-08, .box-tit-09, .box-tit-10, .box-tit-11, .box-tit-12, .box-tit-13, .box-tit-14, .box-tit-15, .box-tit-16 { width: 210px; height: 88px; }
.loan-left i { width: 56px; height: 56px; margin-right: 12px; float: left; display: inline-block; background: rgba(0, 0, 0, 0) url("../images/loan-left-con.png") no-repeat scroll 0% 0%; position: relative; top: 15px; left: 20px; }
.box-tit-01 i { background-position: 0px 0px; }
.box-tit-02 i { background-position: -56px 0px; }
.box-tit-03 i { background-position: -112px 0px; }
.box-tit-04 i { background-position: -168px 0px; }
.box-tit-05 i { background-position: 0px -56px; }
.box-tit-06 i { background-position: -56px -56px; }
.box-tit-07 i { background-position: -112px -56px; }
.box-tit-08 i { background-position: -168px -56px; }
.box-tit-09 i { background-position: 0px -112px; }
.box-tit-10 i { background-position: -56px -112px; }
.box-tit-11 i { background-position: -112px -112px; }
.box-tit-12 i { background-position: -168px -112px; }
.box-tit-13 i { background-position: 0px -168px; }
.box-tit-14 i { background-position: -56px -168px; }
.box-tit-15 i { background-position: -112px -168px; }
.box-tit-16 i { background-position: -168px -168px; }
.loan-left h5 { font-size: 20px; line-height: 24px; position: relative; top: 30px; left: 20px; font-weight: 700; }
.loan-left h5 { font-size: 20px; line-height: 24px; position: relative; top: 30px; left: 20px; font-weight: 700; color: rgb(255, 255, 255); }
.loan-left h5 a:hover { color: rgb(0, 153, 68); }
.loan-left h6 a:hover { color: rgb(0, 153, 68); }
.loan-left .box-tit-13 h5 { top: 16px; }
.loan-left h6 { font-size: 18px; margin: 0px 20px 18px; color: rgb(51, 51, 51); font-weight: bold; }
.loan-left p { font-size: 16px; margin: 0px 18px; line-height: 24px; }
.loan-left p span { color: rgb(51, 51, 51); font-size: 14px; }
.loan-btn-apply { margin: 20px auto 0px; width: 120px; height: 30px; text-align: center; font-size: 16px; background-color: rgb(238, 238, 238); color: rgb(51, 51, 51); display: block; line-height: 28px; border: 1px solid rgb(221, 221, 221); border-radius: 4px; }
.loan-btn-apply:hover { color: rgb(0, 153, 68); }
.star { margin-bottom: 30px; clear: both; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); }
.star .title, .apply-card .title { height: 50px; padding: 0px 20px; background-color: rgb(238, 238, 238); }
.star .title h3 { font-size: 22px; line-height: 50px; }
.star .title a { font-size: 14px; position: relative; top: -28px; left: 220px; }
.star .title a:hover { color: rgb(83, 151, 15); }
.star .items { padding: 0px 0px 20px 20px; }
.star .item { position: relative; }
.star .item .avatar { width: 86px; height: 86px; border: 1px solid rgb(221, 221, 221); margin-top: 25px; }
.star .item .info { position: absolute; top: 20px; left: 100px; margin-left: 5px; }
.star .item .info .user { font-size: 18px; color: rgb(51, 51, 51); }
.star .item .info p { margin-top: 19px; line-height: 22px; font-size: 16px; }
.star .item .info p span { color: rgb(83, 151, 15); font-weight: 600; }
.star-more a { height: 50px; width: 100%; background: rgb(238, 238, 238) none repeat scroll 0% 0%; font-size: 18px; text-align: center; line-height: 50px; display: block; }
.star-more a:hover { background-color: rgb(229, 229, 229); }
.partners { clear: both; }
.partners-inner .hd { height: 49px; border-bottom: 1px solid rgb(221, 221, 221); }
.partners-inner .hd li { float: left; font-size: 18px; line-height: 49px; padding: 0px 20px; }
.partners-inner .hd li a { color: rgb(71, 71, 71); }
.partners-inner .hd li.active a { color: rgb(117, 165, 38); }
.partners-inner .ui-tab-nav { position: relative; }
.partners-inner .hd .icon-cur { width: 112px; height: 4px; background-color: rgb(204, 204, 204); display: block; position: absolute; top: 49px; left: 0px; }
.partners-inner .bd { padding: 20px 0px; overflow: hidden; height: 60px; }
.partners-inner .bd li { float: left; margin: 0px 22px 0px 0px; width: 152px; display: inline; }
.partners-inner .img-scroll { position: relative; }
.partners-inner .ui-tab-cont .ui-tab-item { display: none; }
.partners-inner .ui-tab-cont .active { display: block; }
.partners-inner .container { height: 54px; overflow: hidden; position: relative; }
.partners-inner .container ul { position: absolute; left: 0px; top: 0px; }
.partners-inner .container ul li img { width: 152px; height: auto; }
.partners-inner .links, .partners-inner .sub-city { padding: 0px 20px; }
.partners-inner .links a, .partners-inner .sub-city a { margin: 0px 20px 10px 0px; float: left; white-space: nowrap; color: rgb(102, 102, 102); font-size: 14px; }
.partners-inner .links a:hover, .partners-inner .sub-city a:hover { text-decoration: underline; color: rgb(127, 175, 42); }
.hot_city_box { width: 525px; border: 1px solid rgb(204, 204, 204); position: absolute; left: 3px; top: 50px; z-index: 99999; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(85, 85, 85); }
.hot_t { width: 525px; border-bottom: 1px solid rgb(221, 221, 221); height: 45px; line-height: 45px; text-indent: 20px; }
.hot_t .f14b { font-size: 14px; font-weight: bold; color: rgb(255, 102, 0); }
.hot_c { width: 490px; margin: 0px auto; }
.hot_c dl { width: 490px; float: left; border-bottom: 1px dashed rgb(221, 221, 221); padding: 10px 0px; }
.hot_c dl.nob { border-bottom: medium none; }
.hot_c dt { width: 80px; float: left; color: rgb(135, 191, 0); font-weight: bold; line-height: 25px; }
.hot_c dd { width: 410px; float: left; }
.hot_c dd ul li { margin-right: 30px; float: left; white-space: nowrap; line-height: 25px; }
.hot_c dd ul li a { color: rgb(85, 85, 85); }
.hot_c dd ul li a:hover { text-decoration: underline; }
.hot_c dd ul li .fb { font-weight: bold; color: rgb(102, 102, 102); }
.hot_b { width: 525px; height: 45px; line-height: 45px; text-align: center; background: rgb(245, 245, 245) none repeat scroll 0% 0%; float: left; border-top: 1px solid rgb(221, 221, 221); }
.hot_b a { color: rgb(0, 102, 204); }
.hot_b a:hover { color: rgb(255, 102, 0); }
.c_close { width: 50px; height: 28px; background: rgba(0, 0, 0, 0) url("../images/close.jpg") no-repeat scroll 0px 0px; position: absolute; top: -1px; right: 8px; }
.c_close a { width: 50px; height: 28px; display: block; }

.banner{height:360px;min-width:1200px;background:#FFF;}
.banner .slide{height:360px;position:relative;background:url(../images/loading.gif) center center no-repeat;}
.banner .slide-container{height:360px;overflow:hidden;}
.banner .slide li.item{height:360px;background:center top no-repeat;display:none;position:absolute;left:0;top:0;width:100%;}
.banner .slide li.current{display:block;}
.banner .slide li a{display:block;height:360px;}
.banner .slide .wrap{position:relative;}
.banner .slide .pagination{position:absolute;bottom:20px;right:0;}
.banner .slide .pagination li{float:left;margin:0 3px;}
.banner .slide .pagination li a{width:24px;height:24px;background:url(../images/home_sprite.png) -120px 0;display:block;text-align:center;line-height:24px;color:#3d640a;}
.banner .slide .pagination li.current a{background-position:-90px 0;color:#FFF;}

